src/packages/xunit.2.1.0/xunit.2.1.0.nupkg
src/packages/xunit.abstractions.2.0.0/lib/net35/xunit.abstractions.dll
src/packages/xunit.abstractions.2.0.0/lib/net35/xunit.abstractions.xml
src/packages/xunit.abstractions.2.0.0/lib/portable-net45+win+wpa81+wp80+monotouch+monoandroid+Xamarin.iOS/xunit.abstractions.dll
src/packages/xunit.abstractions.2.0.0/lib/portable-net45+win+wpa81+wp80+monotouch+monoandroid+Xamarin.iOS/xunit.abstractions.xml
src/packages/xunit.abstractions.2.0.0/xunit.abstractions.2.0.0.nupkg
src/packages/xunit.assert.2.1.0/lib/dotnet/xunit.assert.dll
src/packages/xunit.assert.2.1.0/lib/dotnet/xunit.assert.pdb
src/packages/xunit.assert.2.1.0/lib/dotnet/xunit.assert.xml
src/packages/xunit.assert.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.assert.dll
src/packages/xunit.assert.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.assert.pdb
src/packages/xunit.assert.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.assert.xml
src/packages/xunit.assert.2.1.0/xunit.assert.2.1.0.nupkg
src/packages/xunit.core.2.1.0/build/_desktop/xunit.execution.desktop.dll
src/packages/xunit.core.2.1.0/build/dnx451/_._
src/packages/xunit.core.2.1.0/build/monoandroid/_._
src/packages/xunit.core.2.1.0/build/monotouch/_._
src/packages/xunit.core.2.1.0/build/net45/_._
src/packages/xunit.core.2.1.0/build/portable-net45+win8+wp8+wpa81/xunit.core.props
src/packages/xunit.core.2.1.0/build/win8/_._
src/packages/xunit.core.2.1.0/build/win81/xunit.core.props
src/packages/xunit.core.2.1.0/build/wp8/_._
src/packages/xunit.core.2.1.0/build/wpa81/xunit.core.props
src/packages/xunit.core.2.1.0/build/xamarinios/_._
src/packages/xunit.core.2.1.0/xunit.core.2.1.0.nupkg
src/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.core.dll
src/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.core.dll.tdnet
src/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.core.pdb
src/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.core.xml
src/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.runner.tdnet.dll
src/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.runner.utility.desktop.dll
src/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.core.dll
src/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.core.dll.tdnet
src/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.core.pdb
src/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.core.xml
src/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.runner.tdnet.dll
src/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.runner.utility.desktop.dll
src/packages/xunit.extensibility.core.2.1.0/xunit.extensibility.core.2.1.0.nupkg
src/packages/xunit.extensibility.execution.2.1.0/lib/dnx451/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/dnx451/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/dnx451/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/dotnet/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/dotnet/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/dotnet/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/monoandroid/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/monoandroid/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/monoandroid/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/monotouch/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/monotouch/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/monotouch/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/net45/xunit.execution.desktop.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/net45/xunit.execution.desktop.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/net45/xunit.execution.desktop.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/win8/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/win8/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/win8/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/wp8/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/wp8/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/wp8/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/wpa81/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/wpa81/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/wpa81/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/lib/xamarinios/xunit.execution.dotnet.dll
src/packages/xunit.extensibility.execution.2.1.0/lib/xamarinios/xunit.execution.dotnet.pdb
src/packages/xunit.extensibility.execution.2.1.0/lib/xamarinios/xunit.execution.dotnet.xml
src/packages/xunit.extensibility.execution.2.1.0/xunit.extensibility.execution.2.1.0.nupkg
src/ProjectEuler.Tests/bin/Debug/ProjectEuler.dll
src/ProjectEuler.Tests/bin/Debug/ProjectEuler.pdb
src/ProjectEuler.Tests/bin/Debug/ProjectEuler.Tests.dll
src/ProjectEuler.Tests/bin/Debug/ProjectEuler.Tests.pdb
src/ProjectEuler.Tests/bin/Debug/xunit.abstractions.dll
src/ProjectEuler.Tests/bin/Debug/xunit.abstractions.xml
src/ProjectEuler.Tests/bin/Debug/xunit.assert.dll
src/ProjectEuler.Tests/bin/Debug/xunit.assert.pdb
src/ProjectEuler.Tests/bin/Debug/xunit.assert.xml
src/ProjectEuler.Tests/bin/Debug/xunit.core.dll
src/ProjectEuler.Tests/bin/Debug/xunit.core.pdb
src/ProjectEuler.Tests/bin/Debug/xunit.core.xml
src/ProjectEuler.Tests/bin/Debug/xunit.execution.desktop.dll
src/ProjectEuler.Tests/bin/Debug/xunit.execution.desktop.pdb
src/ProjectEuler.Tests/bin/Debug/xunit.execution.desktop.xml
src/ProjectEuler.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/ProjectEuler.Tests/obj/Debug/ProjectEuler.Tests.csproj.FileListAbsolute.txt
src/ProjectEuler.Tests/obj/Debug/ProjectEuler.Tests.csprojResolveAssemblyReference.cache
src/ProjectEuler.Tests/obj/Debug/ProjectEuler.Tests.dll
src/ProjectEuler.Tests/obj/Debug/ProjectEuler.Tests.pdb
src/ProjectEuler.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/ProjectEuler.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/ProjectEuler.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/ProjectEuler/bin/Debug/ProjectEuler.dll
src/ProjectEuler/bin/Debug/ProjectEuler.pdb
src/ProjectEuler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/ProjectEuler/obj/Debug/ProjectEuler.csproj.FileListAbsolute.txt
src/ProjectEuler/obj/Debug/ProjectEuler.csprojResolveAssemblyReference.cache
src/ProjectEuler/obj/Debug/ProjectEuler.dll
src/ProjectEuler/obj/Debug/ProjectEuler.pdb
src/ProjectEuler/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/ProjectEuler/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/ProjectEuler/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/.vs/ProjectEuler/v14/.suo
